#home-content {
    display: flex;
    padding: 4rem 2rem 4rem 2rem;
    gap: 3rem;
    flex-direction: column;
    // border-bottom: 1px solid rgba($color: #fff, $alpha: 0.20);
}

.home-flex {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
    justify-content: flex-start;

    .home-text {
        width: 100%;
    }

    .home-imgs {
        display: none;
        align-items: center;
        flex-grow: 1;
        

        img {
            max-width: 10rem;
            border-radius: 10rem;
            overflow: hidden;
            margin: 2rem 0;
        }
    }

    
}

.home-text {
    display: flex;
    flex-direction: column;
    

     h1 {
        font-size: 2rem;
     }

     .home-mobile-title {
        display: none;
     }
    
}

@media screen and (max-width: 768px) {
    .home-text {
        .home-mobile-title {
            display: block;
        }
    }

    .home-web-title {
        display: none;
    }
}

.connect-links {
    // min-width: 14rem;
    display: block;
    flex-direction: column;
    gap: .25rem;
    // padding: 4rem 2rem;
    margin-top: 2rem;
    // border: 1px solid rgba($color: $highlight, $alpha: 0.2);
    // border-radius: 1rem;

    p { 
        font-weight: 600; 
        margin-bottom: .5rem;
    }

    a { 
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        padding: 0.5rem 1rem;
        font-size: .825rem;
        margin-right: .5rem;
        border: 1px solid rgba($color: $white, $alpha: 0.2);
        border-radius: 1rem;

        svg {
            width: 1rem;
            height: 1rem;
            font-size: .825rem;
        }

        span {
            font-size: .5rem;
        }

        &:hover {
            color: $highlight;
            // gap: .75rem;
        }
     }
}

.green-pulsing-dot-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;  
    justify-content: flex-start;
    padding: 1.5rem 0;

    p {font-size: .825rem;}
}

.green-pulsing-dot {
    width: .5rem !important;
    height: .5rem !important;
    background-color: #00ff00;
    border-radius: 50%;
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#homeImg {
    width: 6rem;
    height: 6rem;
}

// .home-top {
//     display: flex;
//     flex-direction: row;
//     gap: 3rem;
//     align-items: center;
//     justify-content: center;

//     p {
//         font-size: 1.25rem;
//         font-weight: 100;
//         font-style: italic;

//         .home-highlight{
//             @extend .bricolage-grotesque-heading;
//             font-weight: 400;
//             line-height: 150%;
//             font-style: normal;
//             font-size: 2rem;
//             color: $green;
//             margin-left: .25rem;
//         }
//     }

//     svg {
//         //display: none;
//         width: 100%;
//         max-width: 480px;
//         fill: $text-primary;
//         height: inherit;
//     }

//     h1 {
//         line-height: 100%;
//         font-size: 2.5rem;
//         width: initial;

//         .home-highlight{
//             @extend .bricolage-grotesque-heading;
//             color: $green;
//             margin-left: .25rem;
//         }
//     }
// }

.new-home-top {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
    // background-color: #000;
    padding: 8rem;
    padding-top: 14rem;
    margin-top: -8rem;
    // min-height: 600px;
    //  background: linear-gradient(82deg, #01070E -91.29%, #042E0B -21.22%, #01070E 51.66%, #042E0B 95.57%);

    .wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: stretch;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .flex {
        height: 100%;
        width: 100%;
    }

    h1 {
        color: $highlight;
        font-size: 3rem;
        line-height: 100%;
        margin-top: 2rem;
    }

    h2 {
        color: $white;
        font-size: 2rem;
        //line-height: 100%;
    }

    .overline {
        color: rgba($color: #FFFFFF, $alpha: 0.5);
        font-weight: 100;
        font-size: .75rem;
        margin-top: 2rem;
        letter-spacing: .1rem;
    }

    h3 {
        font-weight: 100;
        max-width: 24rem;
    }
}

.home-left {
    background: transparent;
    border: 1px solid $highlight;
    padding: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: auto;
    }

   

    h3 {
        font-weight: 100;
        max-width: 20rem;
    }
}

.home-right {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    flex: 1;
    min-width: 400px;

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        // background-color: #000;
        border: 0.5px solid rgba($color: $highlight, $alpha: 0.2);
        padding: 1rem;
        border-radius: 1rem;
        flex: 1;
        text-align: left;
        justify-content: center;
        align-items: start;

        
        p {
            font-size: .75rem;
        }
    }
}

// .home-right-top, 
// .home-right-bottom {
//     display: flex;
//     flex-direction: row;
//     gap: 1rem;
//     flex: 1;
    
// }


.home-bottom {
    padding: 2rem;
    border-radius: .5rem;
    // background-color: rgba($color: $green, $alpha: 0.15);
}

@media screen and (max-width: 1000px) {
    .new-home-top {
        flex-direction: row;
        padding: 2rem;
        padding-top: 12rem;
        margin-top: -8rem;
        min-height: 600px;

        .flex {
            flex-direction: column;
        }

        h1 {
            margin-top: 0;
        }
    }

    .home-left {
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        padding-bottom: 3rem;

        img {
            max-width: 12rem;
            margin: 0;
        }
    }

    

    .home-right-top,
    .home-right-bottom {
        //flex-direction: column;
        flex-wrap: wrap;

        
    }
}

@media screen and (max-width: 768px) {
    .home-top {
        flex-direction: column;
        
        h1 {
            font-size: 2rem;
        }
    }
    #homeImg {
        max-width: 4rem;
    }

    .home-buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .home-top {
        h1 {
            font-size: 1.625rem;
        }
    }

    .home-left {
        flex-direction: column;

        text-align: center;
    }


}