@font-face {
  font-family: KENOKY;
  src: url("KENOKY-Light.ttf");
}
@font-face {
  font-family: KENOKY;
  src: url("KENOKY-Light.ttf");
}
body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: rgba(38, 36, 33, 0.8039215686);
  font-family: Helvetica;
  font-weight: 100;
}

.wht-bg {
  background-color: #F2EFEB;
}

.drk-bg {
  background-color: rgba(38, 36, 33, 0.8039215686);
  color: #F2EFEB;
}

h1, h2 {
  font-family: KENOKY;
  font-weight: 100;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 1.5rem */
}

.overline {
  color: rgba(38, 36, 33, 0.662745098);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
}

button {
  border: 1px solid rgba(38, 36, 33, 0.662745098);
  border-radius: 0.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  color: rgba(38, 36, 33, 0.662745098);
  transition: background-color 500ms, color 500ms, border 500ms;
}
button.work svg {
  fill: #45C5EB;
}
button.work:hover {
  background-color: #45C5EB;
  color: #F2EFEB;
  border: 1px solid #45C5EB;
}
button.work:hover svg {
  fill: #F2EFEB;
}
button.person svg {
  fill: #CB8BD0;
}
button.person:hover {
  background-color: #CB8BD0;
  color: #F2EFEB;
  border: 1px solid #CB8BD0;
}
button.person:hover svg {
  fill: #F2EFEB;
}
button.resume svg {
  fill: #E2C541;
}
button.resume:hover {
  background-color: #E2C541;
  color: #F2EFEB;
  border: 1px solid #E2C541;
}
button.resume:hover svg {
  fill: #F2EFEB;
}
button.contact svg {
  fill: #ED6262;
}
button.contact:hover {
  background-color: #ED6262;
  color: #F2EFEB;
  border: 1px solid #ED6262;
}
button.contact:hover svg {
  fill: #F2EFEB;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#pageTransition, #pageEnter {
  height: 0px;
  position: absolute;
  left: 0;
  z-index: 1000;
  transition: bottom 1000ms ease-in;
}

#pageTransition {
  bottom: 200vh;
}

#pageEnter {
  min-width: 100vw;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageEnter h1 {
  animation: appear 500ms ease-in;
}

.trans-up {
  width: 100vw !important;
  height: 100vh !important;
  bottom: 0 !important;
}

.trans-down {
  width: 100vw !important;
  height: 0px !important;
  bottom: 200vh !important;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-group {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  width: auto;
}
.nav-group .nav-item {
  border: 1px solid rgba(38, 36, 33, 0.662745098);
  display: flex;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 6rem;
  text-align: center;
  transition: width 500ms;
  text-decoration: none;
  cursor: pointer;
}
.nav-group .nav-item.work svg {
  fill: #45C5EB;
}
.nav-group .nav-item.person svg {
  fill: #CB8BD0;
}
.nav-group .nav-item.resume svg {
  fill: #E2C541;
}
.nav-group .nav-item.contact svg {
  fill: #ED6262;
}
.nav-group .nav-item.work.active {
  background: #45C5EB;
  border: 1px solid #45C5EB;
}
.nav-group .nav-item.work.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.work.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item.person.active {
  background: #CB8BD0;
  border: 1px solid #CB8BD0;
}
.nav-group .nav-item.person.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.person.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item.resume.active {
  background: #E2C541;
  border: 1px solid #E2C541;
}
.nav-group .nav-item.resume.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.resume.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item.contact.active {
  background: #ED6262;
  border: 1px solid #ED6262;
}
.nav-group .nav-item.contact.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.contact.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item svg, .nav-group .nav-item p {
  display: inline-block;
}
.nav-group .nav-item p {
  opacity: 0;
  color: rgba(38, 36, 33, 0.662745098);
  font-size: 0.9rem;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#homeIcon {
  max-width: 3rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 1rem 2rem;
  }
  .nav-group .nav-item:hover {
    width: 11rem;
  }
  .nav-group .nav-item:hover p {
    opacity: 1;
    width: initial;
    height: initial;
    padding-left: 0.5rem;
    animation: fadeIn 500ms ease-in;
  }
}
#home-content {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#homeImg {
  max-width: 20rem;
}

.home-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.home-top svg {
  width: 100%;
  max-width: 768px;
  fill: rgba(38, 36, 33, 0.8039215686);
}

.home-bottom {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(32, 147, 32, 0.15);
}

.home-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
.home-buttons button {
  background-color: #F2EFEB;
}

@media screen and (max-width: 768px) {
  #homeImg {
    max-width: 12rem;
  }
  .home-buttons {
    flex-direction: column;
  }
}
#work-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1rem;
}

.work-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.work-cards .card {
  flex: 1;
  min-width: 24rem;
  border-radius: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.work-cards .card:nth-of-type(1) {
  min-width: 100%;
}
.work-cards .card .card-img {
  width: 100%;
  height: 18rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  border-radius: 1rem;
  transition: background-size 500ms;
}
.work-cards .card .card-img.pricing {
  background-image: url("../img/seats.jpg");
}
.work-cards .card .card-img.blive {
  background-image: url("../img/warehouse.jpeg");
}
.work-cards .card .card-img.basecamp {
  background-image: url("../img/techsupport.jpeg");
}
.work-cards .card .card-img.ratic {
  background-image: url("../img/house.jpeg");
}
.work-cards .card .card-img.bluon2 {
  background-image: url("../img/rooftop.jpeg");
}
.work-cards .card:hover .card-img {
  background-size: 130%;
}
.work-cards .card .card-btm {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 0.5rem;
  align-items: flex-start;
}
.work-cards .card .card-btm .txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.work-cards .card .card-btm .btn-container {
  display: flex;
  justify-content: flex-end;
}
.work-cards .card .card-btm .btn-container button {
  background: #209320;
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.25rem;
  color: #F2EFEB;
  border-radius: 0.25rem;
  border: none;
  transition: 500ms;
  height: -moz-fit-content;
  height: fit-content;
}
.work-cards .card .card-btm .btn-container button:hover {
  gap: 0.75rem;
  border-radius: 0rem;
}

@media screen and (max-width: 768px) {
  .work-cards .card {
    min-width: 100%;
  }
  .work-cards .card .card-img {
    height: 14rem;
  }
}
#person-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem;
}

.person-section {
  display: flex;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
  padding: 2rem;
}
.person-section .left, .person-section .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.person-section .left {
  width: 25rem;
}
.person-section .left img {
  width: 100%;
  border-radius: 1.5rem;
}
.person-section .right {
  width: 100%;
}
.person-section .right img {
  width: 100%;
  border-radius: 1.5rem;
}

@media screen and (max-width: 768px) {
  .person-section {
    flex-direction: column;
  }
  .person-section:nth-last-of-type(2) {
    flex-direction: column-reverse;
  }
  .person-section .left {
    width: 100%;
  }
  .person-section .left img, .person-section .right img {
    width: 75%;
  }
}/*# sourceMappingURL=style.css.map */