$text-primary: #262421cd;
$text-secondary: #262421a9;
$blue: #45C5EB;
$purple: #CB8BD0;
$yellow: #d7bc3f;
$red: #ED6262;
$green: #209320; 
//$button-outline: 1px solid #262421a9;
$button-outline: 1px solid rgba($color: #36332F, $alpha: 0.5);
$white: #F2EFEB;
$dark: #262421;
$wrap-width: 1100px;

@font-face { font-family: KENOKY; src: url('KENOKY-Light.woff'); } 
@font-face { font-family: KENOKY;  src: url('KENOKY-Light.woff');}


body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: $text-primary;
    font-family: Helvetica;
    font-weight: 100;
}

.wht-bg{ background-color: $white;}

.drk-bg {
    background-color: $dark;
    color: $white;
}

h1,h2{
    font-family: KENOKY;
    font-weight: 100;
    line-height: 150%;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {font-size: 2rem;}

h3 {
    font-weight: 100;
    line-height: 150%;
}

p {
    font-family: Helvetica;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 1.5rem */
}

.overline {
    color: $text-secondary;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .5px;
}

img {max-width: 100%;}

button {
    border: $button-outline;
    border-radius: .5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .75rem 1rem;
    color: $text-secondary;
    transition: background-color 500ms, color 500ms, border 500ms;
}

.wrapper {
    width: 100%;
    max-width: $wrap-width;
    margin: auto;
}

// PAGE TRANSITIONS

@keyframes appear {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#pageTransition, #pageEnter {
    height: 0px;
    position: fixed;
    left: 0;
    z-index: 1000;
    transition: bottom 1000ms ease-in;
}

#pageTransition {
    bottom: 200vh;
}

#pageEnter {
    min-width: 100%;
    bottom: 0;
    min-height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    // opacity: 1;

    h1{
        animation: appear 500ms ease-in;
    }
}

.trans-up {
    width: 100% !important;
    height: 100% !important;
    bottom: 0 !important;
}

.trans-down {
    width: 100vw !important;
    height: 0px !important;
    bottom: 200vh !important;
    // opacity: 0 !important;
}

.home-buttons, .footer-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    //margin-top: 1rem;


    button {
        transition: transform 500ms;
        cursor: pointer;

        &.work {
            background-color: $blue;
            color: $white;
            border: 1px solid $blue;

            svg {
                fill: $white
            }
        }

        &.person {
            background-color: $purple;
            color: $white;
            border: 1px solid $purple;

            svg {
                fill: $white
            }
        }

        &.resume {
            background-color: $yellow;
            color: $white;
            border: 1px solid $yellow;

            svg {
                fill: $white
            }
        }

        &.contact {
            background-color: $red;
            color: $white;
            border: 1px solid $red;

            svg {
                fill: $white
            }
        }

        &:hover {
            transform: rotate(2deg);
        }
    }

   
}

.footer-buttons {
    color: $text-primary;
    padding: 4rem;

    button {
        cursor: pointer;
        background-color: transparent !important;
        border: 1px solid rgba($color: $text-primary, $alpha: 0.2) !important;

        &.work {
            color: $text-primary;

            svg {
                fill: $blue
            }
        }

        &.person {
            color: $text-primary;

            svg {
                fill: $purple
            }
        }

        &.resume {
            color: $text-primary;

            svg {
                fill: $yellow
            }
        }

        &.contact {
            color: $text-primary;

            svg {
                fill: $red
            }
        }
    }
}

.drk-bg .footer-buttons button{
    color: $white !important;
    border: 1px solid rgba($color: $white, $alpha: 0.2) !important;
}

@media screen and (max-width: 768px) {
    h1 {font-size: 3rem}
    h2 {font-size: 1.75rem}
}

@media screen and (max-width: 1000px) {
    h1 {font-size: 3rem}
    h2 {font-size: 1.75rem}

    .footer-buttons {
        flex-direction: column;
        
        // button {
        //     justify-content: center;
        // }
    }
}

@import '_nav.scss';
@import '_home.scss';
@import '_work.scss';
@import '_person.scss';
@import '_project.scss';
@import '_resume.scss';
@import '_contact.scss';
@import '_slider.scss';