@font-face {
  font-family: KENOKY;
  src: url("KENOKY-Light.ttf");
}
@font-face {
  font-family: KENOKY;
  src: url("KENOKY-Light.ttf");
}
body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: rgba(38, 36, 33, 0.8039215686);
  font-family: Helvetica;
  font-weight: 100;
}

.wht-bg {
  background-color: #F2EFEB;
}

.drk-bg {
  background-color: #262421;
  color: #F2EFEB;
}

h1, h2 {
  font-family: KENOKY;
  font-weight: 100;
  line-height: 150%;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: 100;
  line-height: 150%;
}

p {
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 1.5rem */
}

.overline {
  color: rgba(38, 36, 33, 0.662745098);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
}

button {
  border: 1px solid rgba(54, 51, 47, 0.5);
  border-radius: 0.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  color: rgba(38, 36, 33, 0.662745098);
  transition: background-color 500ms, color 500ms, border 500ms;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#pageTransition, #pageEnter {
  height: 0px;
  position: fixed;
  left: 0;
  z-index: 1000;
  transition: bottom 1000ms ease-in;
}

#pageTransition {
  bottom: 200vh;
}

#pageEnter {
  min-width: 100%;
  bottom: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageEnter h1 {
  animation: appear 500ms ease-in;
}

.trans-up {
  width: 100% !important;
  height: 100% !important;
  bottom: 0 !important;
}

.trans-down {
  width: 100vw !important;
  height: 0px !important;
  bottom: 200vh !important;
}

.home-buttons, .footer-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
.home-buttons button, .footer-buttons button {
  transition: transform 500ms;
  cursor: pointer;
}
.home-buttons button.work, .footer-buttons button.work {
  background-color: #45C5EB;
  color: #F2EFEB;
  border: 1px solid #45C5EB;
}
.home-buttons button.work svg, .footer-buttons button.work svg {
  fill: #F2EFEB;
}
.home-buttons button.person, .footer-buttons button.person {
  background-color: #CB8BD0;
  color: #F2EFEB;
  border: 1px solid #CB8BD0;
}
.home-buttons button.person svg, .footer-buttons button.person svg {
  fill: #F2EFEB;
}
.home-buttons button.resume, .footer-buttons button.resume {
  background-color: #d7bc3f;
  color: #F2EFEB;
  border: 1px solid #d7bc3f;
}
.home-buttons button.resume svg, .footer-buttons button.resume svg {
  fill: #F2EFEB;
}
.home-buttons button.contact, .footer-buttons button.contact {
  background-color: #ED6262;
  color: #F2EFEB;
  border: 1px solid #ED6262;
}
.home-buttons button.contact svg, .footer-buttons button.contact svg {
  fill: #F2EFEB;
}
.home-buttons button:hover, .footer-buttons button:hover {
  transform: rotate(2deg);
}

.footer-buttons {
  color: rgba(38, 36, 33, 0.8039215686);
  padding: 4rem;
}
.footer-buttons button {
  cursor: pointer;
  background-color: transparent !important;
  border: 1px solid rgba(38, 36, 33, 0.2) !important;
}
.footer-buttons button.work {
  color: rgba(38, 36, 33, 0.8039215686);
}
.footer-buttons button.work svg {
  fill: #45C5EB;
}
.footer-buttons button.person {
  color: rgba(38, 36, 33, 0.8039215686);
}
.footer-buttons button.person svg {
  fill: #CB8BD0;
}
.footer-buttons button.resume {
  color: rgba(38, 36, 33, 0.8039215686);
}
.footer-buttons button.resume svg {
  fill: #d7bc3f;
}
.footer-buttons button.contact {
  color: rgba(38, 36, 33, 0.8039215686);
}
.footer-buttons button.contact svg {
  fill: #ED6262;
}

.drk-bg .footer-buttons button {
  color: #F2EFEB !important;
  border: 1px solid rgba(242, 239, 235, 0.2) !important;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .footer-buttons {
    flex-direction: column;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.drk-bg .nav-group .nav-item {
  border: 1px solid rgba(242, 239, 235, 0.5);
}
.drk-bg nav p {
  color: #F2EFEB !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-group {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  width: auto;
}
.nav-group .nav-item {
  border: 1px solid rgba(54, 51, 47, 0.5);
  display: flex;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 6rem;
  text-align: center;
  transition: width 500ms;
  text-decoration: none;
  cursor: pointer;
}
.nav-group .nav-item.work svg {
  fill: #45C5EB;
}
.nav-group .nav-item.person svg {
  fill: #CB8BD0;
}
.nav-group .nav-item.resume svg {
  fill: #d7bc3f;
}
.nav-group .nav-item.contact svg {
  fill: #ED6262;
}
.nav-group .nav-item.work.active {
  background: #45C5EB;
  border: 1px solid #45C5EB;
}
.nav-group .nav-item.work.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.work.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item.person.active {
  background: #CB8BD0;
  border: 1px solid #CB8BD0;
}
.nav-group .nav-item.person.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.person.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item.resume.active {
  background: #d7bc3f;
  border: 1px solid #d7bc3f;
}
.nav-group .nav-item.resume.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.resume.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item.contact.active {
  background: #ED6262;
  border: 1px solid #ED6262;
}
.nav-group .nav-item.contact.active p {
  color: #F2EFEB !important;
}
.nav-group .nav-item.contact.active svg {
  fill: #F2EFEB;
}
.nav-group .nav-item svg,
.nav-group .nav-item p {
  display: inline-block;
}
.nav-group .nav-item p {
  opacity: 0;
  color: rgba(38, 36, 33, 0.662745098);
  font-size: 0.9rem;
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0;
}

#homeIcon {
  max-width: 3rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 1rem 2rem;
  }
  .nav-group .nav-item:hover {
    width: 11rem;
  }
  .nav-group .nav-item:hover p {
    opacity: 1;
    width: initial;
    height: initial;
    padding-left: 0.5rem;
    animation: fadeIn 500ms ease-in;
  }
}
#home-content {
  text-align: center;
  min-height: 100vh;
  display: flex;
  padding: 1rem;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#homeImg {
  max-width: 20rem;
}

.home-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.home-top svg {
  width: 100%;
  max-width: 480px;
  fill: rgba(38, 36, 33, 0.8039215686);
  height: inherit;
}

.home-bottom {
  padding: 2rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  #homeImg {
    max-width: 12rem;
  }
  .home-buttons {
    flex-direction: column;
  }
}
#work-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1rem;
}

.work-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem 4rem;
}
.work-cards .card {
  flex: 1;
  min-width: 24rem;
  border-radius: 1.5rem;
  padding: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.work-cards .card:nth-of-type(1) {
  min-width: 100%;
}
.work-cards .card .card-img {
  width: 100%;
  height: 18rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  border-radius: 1rem;
  transition: background-size 500ms;
}
.work-cards .card .card-img.pricing {
  background-image: url("../img/seats.jpg");
}
.work-cards .card .card-img.blive {
  background-image: url("../img/warehouse.jpeg");
}
.work-cards .card .card-img.basecamp {
  background-image: url("../img/techsupport.jpeg");
}
.work-cards .card .card-img.ratic {
  background-image: url("../img/house.jpeg");
}
.work-cards .card .card-img.bluon2 {
  background-image: url("../img/rooftop.jpeg");
}
.work-cards .card:hover .card-img {
  background-size: 130%;
}
.work-cards .card .card-btm {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 0.5rem;
  align-items: flex-start;
}
.work-cards .card .card-btm .txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.work-cards .card .card-btm .btn-container {
  display: flex;
  justify-content: flex-end;
}
.work-cards .card .card-btm .btn-container button {
  background: #209320;
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.25rem;
  color: #F2EFEB;
  border-radius: 0.25rem;
  border: none;
  transition: 500ms;
  height: -moz-fit-content;
  height: fit-content;
}
.work-cards .card .card-btm .btn-container button:hover {
  gap: 0.75rem;
  border-radius: 0rem;
}

@media screen and (max-width: 768px) {
  .work-cards .card {
    min-width: 100%;
    padding: 1.5rem;
    padding-bottom: 2rem;
  }
  .work-cards .card .card-img {
    height: 14rem;
  }
}
@media screen and (max-width: 400px) {
  .work-cards .card {
    min-width: 100%;
    padding: 1rem;
    padding-bottom: 2rem;
  }
  .work-cards .card .card-btm {
    flex-direction: column;
  }
  .work-cards .card .card-img {
    height: 14rem;
  }
}
#person-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem;
}

.person-section {
  display: flex;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
  padding: 2rem;
}
.person-section .left, .person-section .right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.person-section .left {
  width: 25rem;
}
.person-section .left img {
  width: 100%;
  border-radius: 1.5rem;
}
.person-section .right {
  width: 100%;
}
.person-section .right img {
  width: 100%;
  border-radius: 1.5rem;
}

@media screen and (max-width: 768px) {
  .person-section {
    flex-direction: column;
  }
  .person-section:nth-last-of-type(2) {
    flex-direction: column-reverse;
  }
  .person-section .left {
    width: 100%;
  }
  .person-section .left img, .person-section .right img {
    width: 75%;
  }
}
.project {
  padding: 0 2rem;
  padding-bottom: 6rem;
}
.project .project-link {
  color: #209320;
}
.project .overline {
  color: rgba(242, 239, 235, 0.75);
}
.project h1 {
  max-width: 1100px;
  margin: auto;
  padding-bottom: 2rem;
  text-transform: capitalize;
}
.project h2 {
  padding-bottom: 1rem;
}
.project section {
  max-width: 1100px;
  margin: auto;
  padding: 4rem 0;
  border-bottom: 1px solid #F2EFEB;
}
.project section:first-of-type, .project section:last-of-type {
  border-bottom: none;
}
.project section p {
  margin: 1rem 0;
}
.project .cs-set {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(242, 239, 235, 0.25);
  flex-direction: column;
}
.project .cs-set:last-of-type {
  border-bottom: none;
}
.project .cs-set .challenge,
.project .cs-set .solution {
  width: 100%;
}
.project .cs-set .challenge {
  max-width: 16rem;
}
.project .cs-set .challenge .overline {
  color: #ED6262;
}
.project .cs-set .solution .overline {
  color: #209320;
}
.project .contact-section {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
  text-align: center;
  padding: 4rem;
  color: #F2EFEB;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 6rem;
}
.project .contact-section a {
  color: #F2EFEB;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  border-bottom: 1px solid #F2EFEB;
  transition: padding 500ms;
}
.project .contact-section a:hover {
  padding-bottom: 0.7rem;
}
.project .heady-flexy,
.project .flexy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project .heady-flexy img {
  max-width: 600px;
}
.project .heady-flexy div {
  width: 100%;
}
.project .heady-flexy .my-role {
  max-width: 24rem;
}
.project .project-header {
  width: 100%;
  height: 18rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .project-header.pricing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/seats.jpg");
}
.project .project-header.blive {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/warehouse.jpeg");
}
.project .project-header.basecamp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/techsupport.jpeg");
}
.project .project-header.ratic {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/house.jpeg);
}
.project .project-header.bluon2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/rooftop.jpeg");
}
.project .project-header img {
  max-height: 300px;
}

.solutions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 1rem;
}

.solutions img {
  width: 100%;
  flex: 1;
  max-width: 15rem;
  border-radius: 1rem;
  border: 0.25rem solid black;
  box-sizing: content-box;
  /* max-height: 30rem; */
}

.solutions.bluonlive img {
  max-width: 29rem;
}

.solutions.bluonlive .flexy {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.solutions.bluonlive .flexy img {
  max-width: 15rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.results .result {
  border: 1px solid #F2EFEB;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
}

ul,
ol {
  text-align: left;
  margin-left: 2rem;
}

li {
  line-height: 200%;
}

.image-vert-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}
.image-vert-flex img {
  max-width: 500px;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .results {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .results .result {
    flex: 1;
    min-width: 30rem;
  }
  .heady-flexy,
  .flexy {
    flex-direction: row !important;
  }
  .cs-set {
    flex-direction: row !important;
  }
}
#resume-content {
  padding: 0 4rem;
}
#resume-content h1 {
  margin-bottom: 3rem;
}

.resume-content {
  display: flex;
  gap: 6rem;
  padding-bottom: 6rem;
}
.resume-content h3,
.resume-content h4,
.resume-content h5 {
  font-weight: 500;
}
.resume-content .resume-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.resume-content .resume-section .education,
.resume-content .resume-section .skills {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.resume-content .resume-section .education .skill-column,
.resume-content .resume-section .skills .skill-column {
  display: flex;
  gap: 4rem;
}
.resume-content .resume-section .education .skill-column .skill-row,
.resume-content .resume-section .skills .skill-column .skill-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.resume-content .resume-section .education .skill-column .skill-row .skill-group,
.resume-content .resume-section .skills .skill-column .skill-row .skill-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.resume-content .resume-section .education .skill-column .skill-row .skill-group ul,
.resume-content .resume-section .skills .skill-column .skill-row .skill-group ul {
  margin: 0;
}
.resume-content .resume-section .education .skill-column .skill-row .skill-group li,
.resume-content .resume-section .skills .skill-column .skill-row .skill-group li {
  line-height: 160%;
  list-style: none;
}
.resume-content .resume-section .education h3 {
  margin-bottom: 1rem;
}
.resume-content .resume-section .work-experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.resume-content .resume-section .work-experience .job {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.resume-content .resume-section .work-experience .job .title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.resume-content .resume-section .work-experience .job .title h3 {
  width: 100%;
}
.resume-content .resume-section .work-experience .job .title h4 {
  min-width: 8rem;
}
.resume-content .resume-section .work-experience .job .title img {
  width: 32px;
  height: 32px;
}
.resume-content .resume-section .work-experience .job .experience {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 48px;
}

@media screen and (max-width: 900px) {
  #resume-content {
    padding: 2rem;
  }
  .resume-content {
    flex-direction: column;
    gap: 3rem;
  }
  .resume-content .resume-section .work-experience .job .experience {
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .resume-content .resume-section .work-experience .job .title {
    display: flex;
    gap: 0.25rem;
    align-items: start;
    flex-direction: column;
  }
}
#contact-content {
  min-height: calc(100vh - 83px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  max-width: 100%;
}
#contact-content .content-center {
  background-color: #ED6262;
  color: #F2EFEB;
  padding: 4rem;
  padding-bottom: 6rem;
  border-radius: 1.5rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#contact-content .content-center a {
  color: #F2EFEB;
  margin-top: 1rem;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 768px) {
  #contact-content {
    padding: 2rem;
  }
}/*# sourceMappingURL=style.css.map */