    <nav class="ai-nav">
        <div class="ai-nav-group">
            <!-- <div id="homeIcon"><img src="img/youProfile 1.png" alt="Brian Prouty Logo"></div> -->
            <a href="index.html" class="logo">
                <h2>Brian Prouty</h2>
            </a>
        </div>

        <!-- Add hamburger menu button -->
        <button class="hamburger-menu" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="ai-nav-group mobile-nav">
            <a href="work.html" class="nav-item work" title="Recent Work">
                Work
            </a>
            <a href="index.html" class="nav-item ai" title="AI Portfolio">
                AI Portfolio
            </a>
            <a href="resume.html" class="nav-item resume" title="resume">
                Resume
            </a>
            <a href="mailto:brian@brianprouty.com" class="nav-item contact" title="contact">
                brian@brianprouty.com
            </a>
        </div>
    </nav> 